@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
  font-weight: bolder;
}

.logo{
  max-width: 100px;
}

section {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header ul {
  position: relative;
  display: flex;
}

header ul li {
  list-style: none;
}

header ul li a {
  text-decoration: none;
  margin-left: 40px;
  display: inline-block;
  color: black;
}

.content {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content .textBox {
  position: relative;
  max-width: 600px;
}

.content .textBox h2 {
  color: #333;
  font-size: 3em;
}

.content .textBox p {
  margin-top: 10px;
  font-size: 1em;
}

.content .textBox h2 span {
  color: #FF6496;
}

.content .textBox a{
  display: inline-block;
  margin-top: 20px;
  padding: 8px 20px;
  background: #E5685A;
  color: #fff;
  border-radius: 40px;
  font-weight: 500;
  letter-spacing: 1px;
  text-decoration: none;
}

.content .imgBox {
  width: 600px;
  display: flex;
  justify-content: flex-end;
  margin-top: 50px;
}

.content .imgBox img{
  max-width: 500px;
  border-radius: 10%;
}

.pencegahan {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  display: flex;
}

.pencegahan li {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  cursor: pointer;
  transition: 0.5s;
  border: 3px solid #F1FFFC;
  border-radius: 25%;
  background: #fff;
}

.pencegahan li:hover {
  transform: translateY(-15px);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.pencegahan li img{
  max-width: 80px;
}

.kasus {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  display: flex;
  margin: 10px;
  align-items: center;
  flex-direction: column;
}

.kasus li{
  list-style: none;
  overflow: hidden;
  width: 50px;
  height: 60px;
  left: 0;
  margin: 5px;
  padding-top: 5px;
  display: flex;
  background: #fff;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
  transition: all 0.1s ease-out;
  border-radius: 10%;
}

.kasus li img{ 
  background: linear-gradient(0deg, white 50%, red 50%);
  display: inline-block;
  width: 50px;
  height: 50px;
}

.positif, .sembuh, .meninggal {
  margin-top: 12px;
  margin-left: 5px;
}

.chart-container {
  width: 1000px;
  height:600px
}

.jenisForm {
  margin: 10px;
}